.carousel-inner{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit:cover;
    max-height:30rem;
}
.formulario{
    margin-left: auto;
    margin-right: auto;
    text-align: center
}