.article-1{
    display: inline-flex;
}
.article-2{
    display: inline-flex;
}
.h2-article-1,
.h2-article-2{
    font-family: 'Orelega One', cursive;
}
.article-1-left li{
    font-family: 'Dancing Script', cursive;
font-family: 'Orelega One', cursive;
font-family: 'RocknRoll One', sans-serif;
}

.image-article-1{
    margin-top: 1rem;
    height: 20rem;
    border-radius: 90%;
}
.mynavbar{
    background-color:#a3ed39;
}
.article-2-right li{font-family: 'Dancing Script', cursive;
font-family: 'Orelega One', cursive;
font-family: 'RocknRoll One', sans-serif;}

.card-img-top{max-height: 14rem;}

